<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>NewProfile</title>
</head>
<body>
<button type="button" name="button" class="btn btn-info btn-fill btn-wd" (click)="onClickDB()" >CREATE DB</button>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image">
                    <img src="assets/img/background.jpg" alt="..."/>
                </div>
                <br>
                <div class="content">
                    <div class="author">
                        <img class="avatar border-white" src="assets/img/faces/face-3.jpg" alt="..."/>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <h5>0<br /><small>Files</small></h5>
                        </div>
                        <div class="col-md-4">
                            <h5>0GB<br /><small>Used</small></h5>
                        </div>
                        <div class="col-md-3">
                            <h5>0$<br /><small>Spent</small></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Team Members</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">Enter your information</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Company</label>
                                    <input type="text" class="form-control border-input" disabled placeholder="Company" value="Creative Code Inc.">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input name="input1" [(ngModel)]="Username" type="text" class="form-control border-input" placeholder="Username">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input name="input2" [(ngModel)]="name" type="text" class="form-control border-input" placeholder="Name">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input name="input3" [(ngModel)]="residence" type="text" class="form-control border-input" placeholder="Home Address">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Telephone Number</label>
                                    <input name="input4" [(ngModel)]="telephone" type="number" class="form-control border-input" placeholder="Telephone">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd" (click)="onClickCustomer()">Set Profile</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>